* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.main-user-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-between;
}
.user-container {
  text-align: left;
  border: 1px solid black;
  width: 40%;
  margin: 2% 0;
  padding: 3% 2%;
}

.delete {
  cursor: pointer;
  color: red;
}
